<!--
<p>update works!</p>

<form>
    <br/>
    <div class="message">
        <div class="alert alert-success my-2" *ngIf="!(SuccessMsg =='')">{{SuccessMsg}}</div>
        <div class="alert alert-danger my-2" *ngIf="!(ErrorMsg =='')">{{ErrorMsg}}</div>
        </div>
    <div class="para">
    <input type="text"  name="soil_id" [(ngModel)]="User.soil_id">&nbsp;
    <button type="submit" value="Read" class="btn btn-success my-2" (click)="Read()">Read</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
    <div class="data">
    <div *ngIf="canShowData">
    <label>soil_id</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="text" name="soil_id"  [(ngModel)]="User.soil_id"><br/><br/>
    <label>soil_type</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="text" name="soil_type"  [(ngModel)]="User.soil_type"><br/><br/>
    <label>soil_ph</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="text" name="soil_ph"  [(ngModel)]="User.soil_ph"><br/><br/>
    <label>organic_matter</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="text" name="organic_matter"  [(ngModel)]="User.organic_matter"><br/><br/>
    <label>nitrogen</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="text" name="nitrogen"  [(ngModel)]="User.nitrogen"><br/><br/>
    <label>phosphorus</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="text" name="phosphorus"  [(ngModel)]="User.phosphorus"><br/><br/>
    <label>potassium</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="text" name="potassium"  [(ngModel)]="User.potassium"><br/><br/>
    <button type="submit" value="Save" class="btn btn-success my-2" (click)="Update()">Update</button>&nbsp;&nbsp;
    <button type="cancel" value="Save" class="btn btn-success my-2">Cancel</button>
    </div>
    </div>
    </form>-->