<br>
<br>
<br>
<br>
<img src="../assets/contactus.jpg" alt="" left="0px">
<div class="con" id="flex">
    <div class="cons"> </div>
   
        <table align="margin-left" cellspacing="20">
            <tr>
                <th>Hallticket number</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                
            </tr>
            <tr>
                <td>21471A0510</td>
                <td>B.Pooja</td>
                <td>bollapooja42@gmail.com</td>
                <td>8008482356</td>
                
            </tr>
            <tr>
                <td>21471A0526</td>
                <td>G.Siva Anjali</td>
                <td>gurramsivanjali2004@gmail.com</td>
                <td>9573369415</td>
                
            </tr>
            <tr>
                <td>21471A0543</td>
                <td>P.Swetha Lakshmi</td>
                <td>swethalakshmiparuchuri@gmail.com</td>
                <td>9347155061</td>
            </tr>
            <tr>
                <td>21471A0544</td>
                <td>P.Kavya</td>
                <td>kavyapeddi99@gmail.com</td>
                <td>9704735905</td>
            </tr>
            <tr>
                <td>21471A0547</td>
                <td>P.Bhagya Lakshmi</td>
                <td>pbhagya2003@gmail.com</td>
                <td>7780470095</td>
            </tr>
            <tr>
                <td>21471A0549</td>
                <td>B.Poojitha</td>
                <td>bandipoojitha7702@gmail.com</td>
                <td>9398187082</td>
            </tr>
            <tr>
                <td>21471A0551</td>
                <td>S.Sailatha</td>
                <td>sailathasankuru@gmail.com</td>
                <td>9849682179</td>
            </tr>
            <tr>
                <td>21471A0563</td>
                <td>T.Harshitha</td>
                <td>harshithatanniru95@gmail.com</td>
                <td>8121814391</td>
            </tr>
            <tr>
                <td>21471A0562</td>
                <td>S.Chandana</td>
                <td>sripathichandana2@gmail.com</td>
                <td>7995213575</td>
            </tr>
            
        </table>
    
    </div>
   
    