  <html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>crop rotation</title>
  </head>
  <body class="homebody">
    <div  class="menu-bar">
      <h1 class="logo">Crop<span>Rotation.</span></h1>
      <ul>
        <li><a routerLink="home">Home</a></li>
        <li><a routerLink="about">About</a></li>
        <li><a routerLink="contact">Contact us</a></li>
        <li><a routerLink="soilanalysis">Implementation<i class="fas-fa-caret-down"></i></a>
        <ul class="down">
          <li><a routerLink="benefits">Benefits<i class="fas-fa-caret-down"></i></a><ul class="down">





          </ul></li>
      <li><a routerLink="temperature">Temperature</a></li>
      <li><a routerLink="rainfall">Rainfall</a></li>   
      <ul class="down">
        <li><a routerLink="recommendations">Input</a></li> 
       <li><a routerLink="rainfalls">Weather</a></li> 
       <li><a routerLink="graph">Graph</a></li>
      </ul>
        </ul>
      
      <li><a routerLink="soilanalysis">Soilanalysis<i class="fas-fa-caret-down"></i></a>
    <ul class="down">
      <li><a routerLink="insert">Insert</a></li>
      <li><a routerLink="read">Read</a></li>
      

    </ul>
    <li><a routerLink="soilanalysis">Weather<i class="fas-fa-caret-down"></i></a>
      <ul class="down">
        <li><a routerLink="insert1">Insert</a></li>
        <li><a routerLink="read1">Read</a></li>
       
      </ul>
      <li><a routerLink="soilanalysis">Fertilizers<i class="fas-fa-caret-down"></i></a>
        <ul class="down">
          <li><a routerLink="insert2">Insert</a></li>
          <li><a routerLink="read2">Read</a></li>
          
        </ul>
   <li><a routerLink="logout">Logout</a></li>
      </ul>
    
     </div>
    </body>
    
    <router-outlet></router-outlet>
    </html>

    <!--
       <li><a routerLink="recommendations">Input</a></li> 
       <li><a routerLink="rainfalls">Weather</a></li> 
       <li><a routerLink="graph">Graph</a></li> -->