<p>graph works!</p>
<div class="container" id="flex">
    <div class="sub1">
    <img  align="left" src="https://media.springernature.com/full/springer-static/image/art%3A10.1038%2Fs41598-019-43679-5/MediaObjects/41598_2019_43679_Fig1_HTML.png" alt="" height="500vh" width="500vw"></div>
    <div><h1 class="sub2">Graph about maize crop:</h1><ul>
    <li class="sub1">Rotating different crops can break pest cycles and add extra nutrients to the soil. Crop rotations build soil fertility, preserve the environment, control weeds, diseases, and insects, and add to crop and market diversity (Baldwin, 2006)For grain legumes such as soybean and cowpea to be effective in rotation cropping with maize, the grain legumes have to be planted early before the full set of rain because excess rain would affect their growth and development.</li>


<li class="sub3">Maize spread had a tremendous impact on the local communities, widening farmer's differentiation and changing social networks in favor of powerful middlemen and traders.Maize can be grown successfully in variety of soils ranging from loamy sand to clay loam. However, soils with good organic matter content having high water holding capacity with neutral pH are considered good for higher productivity.</li>
    <li class="sub3">Maize can be grown in all seasons viz; Kharif (monsoon), post monsoon, Rabi (winter) and spring.</li>
</ul>
</div>
</div>